<div class="container col-md-6">
    <div class="card">
    <div class="card-header">
        <h3> EDIT USERS</h3>
    </div>
    
    <div class="card-body">
      <form action="">
          <div class="form-group">
              <label for="">id:</label>
              <input type="number" class="form-control" [(ngModel)]="user.userid" name="userid">
          </div>
                      

        <button (click)="addEmployee(user)" class="btn btn-success">ADD</button>
      </form>
    </div>
    
    </div>
    
    
    </div>
    