<div class="container col-md-6">
    <div class="card">
    <div class="card-header">
        <h3> EDIT USERS</h3>
    </div>
    
    <div class="card-body">
      <form action="">
          <div class="form-group">
              <label for="">id:</label>
              <input type="number" class="form-control" [(ngModel)]="user.userid" name="userid">
          </div>
          <div class="form-group">
            <label for="">Name:</label>
            <input  type="text" class="form-control" [(ngModel)]="user.firstname" name="firstname">
        </div>
        <div class="form-group">
            <label for="">Surname:</label>
            <input type="text" class="form-control" [(ngModel)]="user.lastname" name="lastname">
        </div>
        <div class="form-group">
            <label for="">mail:</label>
            <input type="text" class="form-control"[(ngModel)]="user.email"name="email" >
        </div>
        <div class="form-group">
            <label for="">Pass:</label>
            <input type="password" class="form-control"[(ngModel)]="user.password" name="password">
        </div>

        <button (click)="update(user)" class="btn btn-danger">SAVE</button>
      </form>
    </div>
    
    </div>
    
    
    </div>
    