<div class="mt-2 text-center">
    <h2>{{user.firstname}}</h2>
</div>
 
<div class="mt-5 container ">
    <div class="card ">
        <div class="text-center card-header bg-dark text-white">
            <h3>{{user.firstname}} - Skills</h3>
        </div>
    </div>

</div>

<div class="card-columns wrap mr-3">
    <div class="card ml-2 mt-3  text-white bg-secondary" *ngFor="let skill of skills">

        <div class="card-body ">
            <h5 class="card-title">{{skill.name}}</h5>
            <p class="card-text">{{skill.description}}</p>

        </div>
    </div>
</div>

<div class="mt-1 container">
    <div class="card">
        <div class="text-center card-header bg-dark text-white">
            <h3> {{user.firstname}} - Projects </h3>
        </div>

    </div>

</div>
 
<div class="card-columns wrap">
    <div class="card ml-2 mt-3 text-white bg-info" *ngFor="let epp of epps">

        <div class="card-body ">
            <h5 class="card-title">{{epp.idemployee}}</h5>
            <p class="card-text">FIREDATE: {{epp.enddate}}</p>

        </div>
    </div>
</div>