<div class="container" style="margin-top: 100px;">


</div>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center">CAPAPPLICATION</h3>
    </div>

    <div class="card-body">
      <button (click)="add()" class="btn ml-5 btn-sm btn-info" style="margin-left: 12px;">ADD USER</button>
      <button (click)="addProject()" class="btn btn-sm btn-info" style="margin-left: 12px;">ADD PROJECT</button>
      <button (click)="Skill()" class="btn btn-sm btn-info" style="margin-left: 12px;">ADD SKILL</button>
      <button (click)="listEmployee()" class="btn btn-sm btn-info" style="margin-left: 12px;">LIST EMPLOYEE</button>
      <button (click)="listProyect()" class="btn btn-sm btn-info" style="margin-left: 12px;">LIST PROJECT</button>
      <button (click)="List()" class="btn btn-sm btn-info" style="margin-left: 12px;">LIST USER</button>

    </div>

  </div>


</div>
<router-outlet></router-outlet>